.about {
    height: 63vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px
}

.about .main img {
    width: 500px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
    color: whitesmoke;
    margin-left: 100px;
}

.owo {

    max-width: 95%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
}

.btn button {
    background: white;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0/6%);
    margin-right: 20px;
}

.btn button:hover {
    background-color: #1d44f9;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.btn .btn2 {
    background: red;
    color: white;
}

.half input {
    color: white;
}

.full input {
    color: white;
}

.action reset {
    background: white;
}

@media screen and (max-width:1250px) {
    .about {
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text {
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width:650px) {
    .about .main img {
        margin-bottom: 35px;

    }

    .all-text h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:35rem) {}
